.tabla1{
	background-color: #070706;
	color: white;
	margin: 15px;
	padding: 30px;
	text-align: justify;
	width: 30%;
	vertical-align: top;
	

}
.tabla2{
	background-color:white;
	padding: 2%;
}
.titulo{
	border-bottom: solid 3px;
	margin: 10px;
}
.icon{
  width: 60px;
}
.icon2{
	width: 20px
}
#foto{
	border-radius: 45%;
	display: block;
	margin: auto;
	border: solid 8px white;
	box-shadow: 0px 0px 15px #5a3f11;
	
}
#General{
	margin: 10px;
	padding: 40px;
}

#text{
	width: 50%;
}
#habilidad{
	font-size: 17px;
	text-align: left;
}
.tituloPrin{
	font-family: inherit;
	text-align: center;
}
.fotoo{
	align-items: center;
}
.tabla01{
	background-color:#9c5518 ;

}
.education{
	vertical-align: top;
}
table{
	width: 80%;
	margin: auto;
	border-spacing: 0;
	border-radius: 50%;
}
body{
	background: #0d0d0e;  
background: -webkit-linear-gradient(to right, #101011, #131314, #0f0c29); 
background: linear-gradient(to right, #131314, #19181a, #070707); 

	font-family: sans-serif;
}
ul{
	list-style:none;
}
a{
	color: white;
	text-decoration: none;
}
